/*MANJARI*/
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*SETTING VARIABLES*/
:root {
  --primary-color: #071320;
  --secondary-color: #ff7800;
  --side-panel-color: #fff;
  --main-color: #F5E9DF;
  --side-panel: #F2E3D7;
}

/*ADDING UNIVERSAL PROPERTIES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

/*SETTING BODY's PROPERTIES*/
body {
  font-family: "Manjari", serif;
  background-color: var(--main-color);
  color: var(--primary-color);
}

/*ANIMATIONS ------------------------------------------------------------------------------------*/
@keyframes breathe {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes loading {
  100% {
    background-position: -100% 0;
  }
}

/*NOTE: STYLING NAVIGATION ----------------------------------------------------------------------*/
/* RESEARCH / REFERENCE & INSPIRED BY https://www.youtube.com/watch?v=zxkz-wPEYbE */
/* STYLING OVERALL NAVIGATION BAR */
header .navbar-container {
  background-color: var(--side-panel-color);
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: 2px 2px 5px rgba(169, 85, 29, .5);
  position: fixed;
  z-index: 1;
}

/* STYLING THE NAVIGATION ANCHORS (OTHER THEN PROFILE) */
header .navigation-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


header .logo-container {
  /* STYLING FOR MOBILE VIEW */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* LOGO GAP FROM SIDE */
  margin-left: 30px;
}

header .logo-container img {
  /* SIZING LOGO IMAGE */
  width: 60px;
}

header .menu-toggle {
  /* NOT SHOWING MOBILE TOGGLE */
  display: none;
}

/* STYLING THE LIST ITEMS IN THE NAVIGATION BAR */
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* STYLING ANCHORS */
header ul li a {
  color: var(--secondary-color);
  font-weight: bold;
  display: block;
  padding: 21px;
  font-size: 1.1em;
  transition: .2s ease;
}

/* STYLING ANCHORS ON HOVER */
header ul li a:hover {
  background-color: #ffc28d;
  transition: .2s ease;
}

/* STYLING PROFILE POP UP (NOT SHOWING) */
header ul li ul {
  position: absolute;
  display: none;
  background-color: var(--side-panel-color);
}

/* STYLING PROFILE POP UP (SHOWING ON HOVER) */
header ul li:hover ul {
  display: block;
}

/* STYLING ANCHORS FOR POP UP */
header ul li ul li a {
  padding: 10px;
  color: var(--secondary-color);
  background-color: var(--side-panel-color);
}

/* STYLING POP UP ANCHORS ON HOVER */
header ul li ul li a:hover {
  background-color: #ffc28d;
}

/* LOGOUT BUTTON */
.logout-button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
}

.logout-button:hover {
  background-color: #DB681C;
  cursor: pointer;
}

/*HOME PAGE STYLING -----------------------------------------------------------------------------*/

.home-page {
  background-color: #D2D2D2;
}

.eye-catcher {
  background: linear-gradient(20deg, var(--secondary-color), #ff902e);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.main-text {
  color: var(--side-panel-color)
}

.main-img img {
  width: 300px;
}

.main-title {
  font-size: 4em;
  color: var(--side-panel-color);
}

/*https://www.shapedivider.app/*/
.custom-shape-divider-bottom-1739969401 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1739969401 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 137px;
}

.custom-shape-divider-bottom-1739969401 .shape-fill {
    fill: #D2D2D2;
}

/*RECIPE PAGE STYLING ---------------------------------------------------------------------------*/
/* MOST OUTER CONTAINER */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* STYLING SEARCH FILTER BOX */
.filter-container {
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  padding-bottom: 20px;
  background-color: var(--side-panel);
  border: 1px solid #C4B5A9;
  width: 30%;
  overflow: scroll;
}

/* STYLING INGREDIENT SEARCH FILTER SECTION */
.ingredient-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STYLING INGREDIENT SEARCH FORM */
.ingred-select {
  width: 100%;
}

/* STYLING INGREDIENT SEARCH BUTTON */
.ingredient-search button {
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgba(169, 85, 29, .5);
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
  border-radius: 5px;
  margin-top: 20px;
  transition: .2s ease;
}

/* STYLING BUTTON HOVER */
.ingredient-search button:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .2s ease;
}

/* STYLING FILTER TITTLE */
.filter-container h2 {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 20px;
}

/* STYLING FILTER FORM */
.filters form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* STYLING FILTER DROPDOWN */
.filters select {
  border: 1px solid #A9551D;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--side-panel-color);
}

/* SEARCH FILTER - RADIO STYLING */
.difficulty-filter-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: baseline;
  align-items: center;
  width: 80%;
}

/* https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
.difficulty-filter-radio input {
  appearance: none;
  background-color: var(--side-panel-color);
  margin: 0;
  font: inherit;
  width: 1.5em;
  height: 2em;
  border: 1px solid #A9551D;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.difficulty-filter-radio input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--secondary-color);
}

.difficulty-filter-radio input:checked::before {
  transform: scale(1);
}

/* STYLING RECIPE CONTAINER */
.recipes-container {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* STYLING CONTENT CONTAINER (INCLUDES TITLE, SEARCH FIELD AND RECIPES)*/
.content-container {
  margin-top: 100px;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

/* STYLING PAGE TITLE */
.page-title {
  color: var(--secondary-color);
  font-size: 2.5em;
  margin: 1rem 0;
}

/* STYLING PAGE DESCRIPTION */
/* .page-description {
  font-style: italic;
} */

/* .search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}  */

/* SEARCH FIELD (FOR TITLE) */
.search-field {
  padding: 10px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 2px 2px 5px rgba(169, 85, 29, .5);
  margin-bottom: 2rem;
}

/* .search-filter {
  color: var(--secondary-color);
  font-size: 1.5em;
  background-color: inherit;
  transition: .2s ease;
} */

/* .search-filter:hover {
  transform: scale(1.1);
  transition: .2s ease;
  cursor: pointer;
} */
/* 
.search-filter:active {
  transform: .2s ease;
  transform: rotate(180deg);
} */

/* SEARCH FIELD (FOR RECIPES) */
.ingredient-search {
  margin: 30px 20px;
}

/* STYLING INDIVIDUAL RECIPE CARD */
.recipe-details {
  width: 200px;
  height: 40vh;
  border: 1px solid #A9551D;
  border-radius: 10px;
  padding: 5px;
  transition: .2s ease;
  background-color: var(--side-panel-color);
  overflow: hidden;
  position: relative;
}

/* STYLING INDIVIDUAL RECIPE CARD ON HOVER */
.recipe-details:hover {
  transform: translateY(-5px) scale(1.02);
  transition: .2s ease;
  cursor: pointer;
}

/* STYLING INDIVIDUAL RECIPE CARD ON HOVER */
.recipe-details:hover .delete-recipe-btn {
  top: 10px;
  transition: .3s ease;
}

/* STYLING INDIVIDUAL RECIPE IMG */
.recipe-details img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  transform: scale(1.5);
  transition: .2s ease-out;
}

/* STYLING INDIVIDUAL RECIPE IMG ON HOVER */
.recipe-details img:hover {
  transition: .2s ease;
  transform: scale(1.4);
}

/* STYLING INDIVIDUAL RECIPE INFORMATION */
.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  background-color: var(--side-panel-color);
  color: var(--primary-color);
  font-weight: 200;
}

/* STYLING INDIVIDUAL RECIPE TITLE */
.recipe-info h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 2px;
}

/* STYLING INDIVIDUAL RECIPE DELETE BUTTON */
.delete-recipe-btn {
  position: absolute;
  top: -50px;
  right: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  color: var(--side-panel-color);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: .2s ease;
}

/* STYLING INDIVIDUAL RECIPE DELETE BUTTON ON HOVER */
.delete-recipe-btn:hover {
  background-color: red;
  transition: .2s ease;
  cursor: pointer;
}

/* STYLING RECIPE AND COMMUNITY SWITCH BUTTON -------------------------------------------------- */
/* STYLING POSITION */
.switch-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* STYLING OVERALL LOOK */
.switch-menu a {
  color: var(--side-panel-color);
  font-weight: bold;
  background-color: var(--secondary-color);
  box-shadow: inset 0px 4px 10px 1px rgba(169, 85, 29, .8);
  padding: 15px;
  width: 100%;
  text-align: center;
}

/* STYLING ACTIVE LINK */
.switch-menu .active {
  background-color: var(--main-color);
  color: var(--primary-color);
  box-shadow: none;
}

/* SINGLE INGREDIENT PAGE ---------------------------------------------------------------------- */
/* STYLING OUTER CONTAINER FOR RECIPE AND DISCUSSION PAGEs */
.recipe-discussion-box {
  width: 100%;
  overflow: hidden;
  padding-top: 80px;
}

/* HOLDS ALL THE INFORMATION REGARDING THE RECIPE */
.single-recipe {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* HOLDS THE IMAGE OF THE RECIPE */
.single-recipe-img {
  width: 50%;
  text-align: center;
}

/* STYLING IMG */
.single-recipe-img img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 5px rgba(169, 85, 29, .5);
}

/* HOLDS EVERYTHING BUT PREPARATION AND COOKING INSTRUCTION */
.single-recipe-middle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* STYLING THE QUICK RECIPE INFORMATION SECTION */
.quick-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* STYLING ICON FOR QUICK INFO */
.quick-info b {
  color: var(--secondary-color);
  margin-right: 5px;
}

/* STYLING INGREDIENT TABLE */
.single-recipe-middle table {
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(169, 85, 29, .5);
  border-radius: 5px;
  border-collapse: collapse;
}

/* ADDING BORDER TO TABLE */
.single-recipe-middle table th, table td {
  border: 1px solid rgba(169, 85, 29, .5);
}

/* REMOVING TOP AND BOTTOM BORDERS */
.single-recipe-middle table tr:first-child th {
  border-top: 0;
}
.single-recipe-middle table tr:last-child td {
  border-bottom: 0;
}
/* ADDING EXTRA STYLING  BASED ON LAST END FIRST COLS*/
.single-recipe-middle table tr td:first-child,
.single-recipe-middle table tr th:first-child {
  color: var(--secondary-color);
  font-weight: bold;
}
.single-recipe-middle table tr td:last-child,
.single-recipe-middle table tr th:last-child {
  font-weight: bold;
}

/* REMOVING RIGHT AND LEFT BORDERS */
.single-recipe table th,
table td {
  border-right: 0;
  border-left: 0;
}

/* STYLING TABLE HEADER */
.single-recipe-middle th {
  font-size: 1.2em;
  padding: 15px;
}


/* STYLING TABLE CELLS */
.single-recipe-info td {
  padding: 10px;
  text-align: center;
}

/* HOLDS MAIN INFORMATION */
.single-recipe-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 50%;
}

/* STYLING TITLE */
.single-recipe-info h1 {
  margin: 0 auto;
  font-weight: bold;
  color: #DB681C;
}

/* STYLING HORIZONTAL LINE */
.hr {
  margin: 0 auto;
  background-color: rgba(169, 85, 29, .5);
  width: 80%;
  height: 1px;
  border: none;
}

/* STYLING NUTRITIONAL INFO TITLE */
.single-recipe h3 {
  text-align: center;
  color: #DB681C;
}

/* STYLING NUTRITIONAL INFO */
.nutri-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* STYLING NUTRITIONAL INFO */
.nutri-card {
  padding: 10px;
  border: 1px solid #A9551D;
  border-radius: 15px;
  height: 20vh;
  width: 100px;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}

/* STYLING NUTRITIONAL INFO */
.nutri-amount {
  background-color: var(--side-panel-color);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STYLING NUTRITIONAL INFO */
.nutri-details {
  padding: 10px;
}

/* STYLING INSTRUCTIONS */
.instruction-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #C4B5A9;
  width: 100%;
  padding: 10px;
  border: 1px solid #A9551D;
  border-radius: 10px;
}

/* RECIPE DISCUSSION ----------------------------------------------------------------------------*/
/* DISPLAYING ELEMENT UNDER EACHOTHER */
.discussion-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* STYLING TITLE */
.discussion-page h1 {
  margin-top: 2rem;
  color: #DB681C;
}

/* STYLING SUB-TITLE */
.discussion-page h2 {
  color: var(--secondary-color);
}

/* ALIGNING TEXT FIELD AND BUTTON */
.discussion-page form {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

/* STYLING TEXT FIELD */
.discussion-page textarea {
  width: 80%;
  padding: 15px;
  border: 1px solid #A9551D;
  border-radius: 15px;
}

/* STYLING BUTTON */
.discussion-page button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
  box-shadow: 2px 2px 5px rgba(169, 85, 29, .5);
  transition: .2s ease;
}

/* STYLING BUTTON HOVER EFFECT */
.discussion-page button:hover {
  box-shadow: none;
  cursor: pointer;
  transition: .2s ease;
}

/* STYLING CONTAINER HOUSING ALREADY MADE COMMENTS */
.discussion-box {
  margin: auto;
  width: 80%;
}

/* STYLING USERNAME AND DATA BOX */
.comment-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* STYLING USERNAME */
.comment-header h3 {
  color: var(--secondary-color);
}

/* STYLING DATE */
.comment-header i {
  color: #8f8f8f;
}

/* STYLING COMMENT MAIN CONTAINER */
.discussion-card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 10px;
  width: 80%;
  border-top: 1px solid #A9551D;
  padding-top: 25px;
  margin: 20px auto;
}

/*STYLING ADD RECIPE ----------------------------------------------------------------------------*/
.add-recipe-container {
  position: fixed;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  z-index: 1;
}

/* STYLING EACH INPUT */
.single-input {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

/* MOVING DOWN THE ADD RECIPE FORM TO NOT BE COVERED BY NAVBAR */
.add-recipe-box {
  padding-top: 80px;
}

/* CUSTOMIZING ADD RECIPE FORM */
.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: var(--side-panel-color);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.add-recipe-form h1 {
  padding-top: 50px;
  color: #DB681C;
}

.add-recipe-form a {
  color: var(--secondary-color);
}

.add-recipe-form a:hover {
  color: #A9551D;
}

/* CUSTOMIZING INPUT FIELDS AND TEXTAREAS */
.add-recipe-form input, 
.add-recipe-form textarea, 
.add-recipe-form select{
  background-color: var(--main-color);
  font-size: 1em;
  padding: 10px;
  border: 1px solid #A9551D;
  border-radius: 5px;
  width: 60vw;
}

/* CUSTOMIZING SELECTS */
.add-recipe-container select {
  width: 20%;
  margin: auto;
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* ADDING STYLING TO REQUIRED ELEMENTS */
.required {
  color: red;
}

/* STYLING IMAGE INPUT AREA */
input[type="file"] {
  display: none;
}
.file-input {
  border: 2px dashed #A9551D;
  border-radius: 5px;
  padding: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(169, 85, 29, .8);
}

/* STYLING HOVER  */
.file-input:hover {
  cursor: pointer;
}

.file-input:active {
  border: 2px dashed var(--secondary-color);
  color: var(--secondary-color);
}

/* STYLING BUTTON */
.add-recipe-container button {
  width: 80%;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 15px;
  font-weight: bold;
  border: 2px solid #A9551D;
  border-radius: 5px;
  color: var(--side-panel-color);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.5);
}

/* STYLING BUTTON ON HOVER */
.add-recipe-container button:hover {
  background-color: var(--side-panel-color);
  color: var(--secondary-color);
  cursor: pointer;
}

/* STYLING BUTTON */
.add-recipe-form button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(169, 85, 29, .5);
  width: 100px;
}

.add-recipe-form button:hover {
  cursor: pointer;
  box-shadow: none;
}

/* STYLING ADDED INGREDIENT */
.display-added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.added-ing {
  padding: 5px;
  background-color: #C4B5A9;
  border-radius: 10px;
  border: 1px solid #A9551D;
  text-align: center;
}

/* STYLING INGREDIENT ADDING */
.add-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*AUTH STYLING ----------------------------------------------------------------------------------*/
.auth-box {
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: var(--side-panel-color);
  width: 35%;
  height: 100vh;
  padding: 10rem 20px 0 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.title {
  margin: 20px 0;
  color: grey;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  margin-bottom: 10px;
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 2px;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: white;
  transition: .2s ease;
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .2s ease;
}

.auth-btn {
  width: 100%;
  padding: 10px 5px;
  margin-top: 2rem;
  transition: .1s ease;
  font-size: 1em;
}

.login-image {
  width: 20%;
  margin: auto;
  animation-name: breathe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.auth-switch {
  text-align: center;
  margin: 50px 0;
  color: grey;
}

.line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid grey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.auth-switch .line span {
  background: var(--side-panel-color); 
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

.auth-switch-link {
  margin-top: 50px;
}

.auth-switch-link a {
  color: var(--secondary-color);
}

.auth-switch-link a:hover {
  text-decoration: underline;
}

/*PAGE NOT FOUND --------------------------------------------------------------------------------*/
.not-found {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-message {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.not-found-title {
  font-size: 5em;
  font-weight: bold;
}

.not-found-message h2 {
  font-size: 2em;
}

.not-found-message p {
  font-style: italic;
}

.not-found-message a {
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: .2s ease;
}

.not-found-message a:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .2s ease;
}

.not-found-img {
  text-align: center;
}

.not-found-img img {
  width: 80%;
}
/*LOADING STYLING -------------------------------------------------------------------------------*/

.card-load-img {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading .5s infinite;
}

.card-load-text {
  width: 80%;
  height: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin: 10px auto;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading .5s infinite;
}

/* NOTE: MEDIA QUERIES --------------------------------------------------------------------------*/
@media only screen and (max-width: 750px) {
  header .navbar-container {
    flex-direction: column;
    border-radius: 0;
  }

  header .logo-container {
    width: 100%;
  }

  header .logo-container img {
    width: 200px;
  }

  header ul {
    width: 100%;
    background-color: var(--side-panel-color); 
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }

  header ul li ul li a {
    background-color: inherit;
    color: inherit;
    padding-left: 50px;
  }

  header .menu-toggle {
    display: block;
    font-size: 2em;
    margin-right: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
  }

  header ul {
    flex-direction: column;
    z-index: 0;
  }
}

/*END OF FILE------------------------------------------------------------------------------------*/