/*MANJARI*/
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*SETTING VARIABLES*/
:root {
  --primary-color: #071320;
  --secondary-color: #ff7800;
  --side-panel-color: #fff;
  --main-color: #dcdcdc;
}

/*ADDING UNIVERSAL PROPERTIES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

/*SETTING BODY's PROPERTIES*/
body {
  font-family: "Manjari", serif;
  background-color: var(--main-color);
  color: var(--primary-color);
}

/*ANIMATIONS ------------------------------------------------------------------------------------*/
@keyframes breathe {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes loading {
  100% {
    background-position: -100% 0;
  }
}

/*NOTE: STYLING NAVIGATION ----------------------------------------------------------------------*/
/* RESEARCH / REFERENCE & INSPIRED BY https://www.youtube.com/watch?v=zxkz-wPEYbE */
header .navbar-container {
  background-color: var(--side-panel-color);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo-container img {
  width: 250px;
  padding-left: 15px;
}

header .menu-toggle {
  display: none;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

header ul li {
  position: relative;
}

header ul li a {
  color: var(--secondary-color);
  font-weight: bold;
}

header ul li ul {
  position: absolute;
  width: 100%;
  display: none;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li a {
  padding: 10px;
  top: 80px;
  color: var(--secondary-color);
  background-color: var(--side-panel-color);
}

header ul li ul li a:hover {
  background-color: #ffc28d;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  transition: .2s ease;
}

header ul li a:hover {
  background-color: #ffc28d;
  transition: .2s ease;
}

/*HOME PAGE STYLING -----------------------------------------------------------------------------*/

.home-page {
  background-color: #D2D2D2;
}

.eye-catcher {
  background: linear-gradient(20deg, var(--secondary-color), #ff902e);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.main-text {
  color: var(--side-panel-color)
}

.main-img img {
  width: 300px;
}

.main-title {
  font-size: 4em;
  color: var(--side-panel-color);
}

/*https://www.shapedivider.app/*/
.custom-shape-divider-bottom-1739969401 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1739969401 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 137px;
}

.custom-shape-divider-bottom-1739969401 .shape-fill {
    fill: #D2D2D2;
}

/*RECIPE PAGE STYLING ---------------------------------------------------------------------------*/

.search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
} 

.search-field {
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

.search-filter {
  color: var(--secondary-color);
  font-size: 1.5em;
  background-color: inherit;
  transition: .2s ease;
}

.search-filter:hover {
  transform: scale(1.1);
  transition: .2s ease;
  cursor: pointer;
}

.search-filter:active {
  transform: .2s ease;
  transform: rotate(180deg);
}

.ingredient-search {
  margin: 10px 50px;
}

.recipe-details {
  width: 20%;
  height: 60vh;
  border: none;
  border-radius: 10px;
  padding: 5px;
  transition: .2s ease;
  background-color: var(--side-panel-color);
  box-shadow: 0 1px 25px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}

.recipe-details:hover {
  transform: translateY(-5px) scale(1.02);
  transition: .2s ease;
  cursor: pointer;
}

.recipe-details:hover .delete-recipe-btn {
  top: 10px;
  transition: .3s ease;
}

.recipe-details img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  transform: scale(1.5);
  transition: .2s ease-out;
}

.recipe-details img:hover {
  transition: .2s ease;
  transform: scale(1.2);
}

.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.recipe-info h2 {
  text-transform: uppercase;
}

.delete-recipe-btn {
  position: absolute;
  top: -50px;
  right: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  color: var(--side-panel-color);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: .2s ease;
}

.delete-recipe-btn:hover {
  background-color: red;
  transition: .2s ease;
  cursor: pointer;
}

.recipes-container {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.content-container {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}

.page-title {
  color: var(--secondary-color);
  font-size: 3em;
}

.page-description {
  font-style: italic;
}

/* STYLING RECIPE AND COMMUNITY SWITCH BUTTON -------------------------------------------------- */
.switch-menu {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.switch-menu a {
  color: var(--side-panel-color);
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 15px;
  width: 100%;
  text-align: center;
}

.switch-menu .active {
  background-color: var(--main-color);
  color: var(--primary-color);
}

/* SINGLE INGREDIENT PAGE ---------------------------------------------------------------------- */
.single-recipe {
  width: 100%;
  overflow: hidden;
}

.single-recipe img {
  width: 300px;
}

.information {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.single-recipe-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.single-recipe-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RECIPE DISCUSSION ----------------------------------------------------------------------------*/
.discussion-box {
  background-color: var(--side-panel-color);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.discussion-card {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/*STYLING ADD RECIPE ----------------------------------------------------------------------------*/
.add-recipe-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 500px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--side-panel-color);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.add-recipe-form input{
  background-color: var(--main-color);
  font-size: 1em;
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.add-recipe-container select {
  width: 20%;
  margin: auto;
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.add-recipe-container button {
  width: 20%;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  color: var(--side-panel-color);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.add-recipe-container button:hover {
  box-shadow: none;
  cursor: pointer;
}

.add-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*AUTH STYLING ----------------------------------------------------------------------------------*/
.auth-box {
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: var(--side-panel-color);
  width: 35%;
  height: 100vh;
  padding: 10rem 20px 0 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.title {
  margin: 20px 0;
  color: grey;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  margin-bottom: 10px;
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 2px;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: white;
  transition: .2s ease;
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .2s ease;
}

.auth-btn {
  width: 100%;
  padding: 10px 5px;
  margin-top: 2rem;
  transition: .1s ease;
  font-size: 1em;
}

.login-image {
  width: 20%;
  margin: auto;
  animation-name: breathe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.auth-switch {
  text-align: center;
  margin: 50px 0;
  color: grey;
}

.line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid grey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.auth-switch .line span {
  background: var(--side-panel-color); 
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

.auth-switch-link {
  margin-top: 50px;
}

.auth-switch-link a {
  color: var(--secondary-color);
}

.auth-switch-link a:hover {
  text-decoration: underline;
}

/*PAGE NOT FOUND --------------------------------------------------------------------------------*/
.not-found {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-message {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.not-found-title {
  font-size: 5em;
  font-weight: bold;
}

.not-found-message h2 {
  font-size: 2em;
}

.not-found-message p {
  font-style: italic;
}

.not-found-message a {
  background-color: var(--secondary-color);
  color: var(--side-panel-color);
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: .2s ease;
}

.not-found-message a:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .2s ease;
}

.not-found-img {
  text-align: center;
}

.not-found-img img {
  width: 80%;
}
/*LOADING STYLING -------------------------------------------------------------------------------*/

.card-load-img {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading .5s infinite;
}

.card-load-text {
  width: 80%;
  height: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin: 10px auto;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading .5s infinite;
}

/* NOTE: MEDIA QUERIES --------------------------------------------------------------------------*/
@media only screen and (max-width: 750px) {
  header .navbar-container {
    flex-direction: column;
    border-radius: 0;
  }

  header .logo-container {
    width: 100%;
  }

  header .logo-container img {
    width: 200px;
  }

  header ul {
    width: 100%;
    background-color: var(--side-panel-color); 
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }

  header ul li ul li a {
    background-color: inherit;
    color: inherit;
    padding-left: 50px;
  }

  header .menu-toggle {
    display: block;
    font-size: 2em;
    margin-right: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
  }

  header ul {
    flex-direction: column;
    z-index: 0;
  }
}

/*END OF FILE------------------------------------------------------------------------------------*/